/.bashrc
/.config
/.idea
/.ipython
/.lightning_studio
/.lightningignore
/.netrc
/.vimrc
/.vscode
/.zcompdump
/.zsh_history
/.zshrc
/EdgeNeXt.zip
/data_new
/main.py
/.condarc
/.docker
/.gitconfig
/.hushlogin
/.jupyter
/.local
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful